<html lang="en">
    <head>
        <!-- <meta> tags> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <title>Book Face</title>
    </head>

    <body>
        <div>
            <button href="/">Accueil</button>
            <button id="goto_createGame" href="/create_game">Jouer</button>
        </div>
        <div class="container">
            {{{body}}}
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
        var socket = io();
        var messages = document.getElementById('messages');
        var button = document.getElementById('goto_createGame');
        button.addEventListener('click', function(e) {
            socket.emit('changePage', "createGame");
        });
        socket.on('canChangePage', function(e) {
            if(typeof e != "undefined" && e != ""){
                window.location.href = e;
            }
        });
    </script>
    </body>
</html>
